#root {
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.navigation {
    list-style-type: none;
}

.return-home-button {
    padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      margin: 32px;
}

.return-home-button:hover {
  background: linear-gradient(to right, rgb(0, 76, 255), #546);
    color: #fff;
}

.location-card-description {
  width: 75vw;
  margin: auto;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

ul li a {
  text-decoration: none;
  border-bottom: 1px solid #b1b1b1;
  padding: 16px 32px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
}

ul li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #b1b1b1;
  padding: 16px 32px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: #282c34;
}

.footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  margin: 8px;
}

.home-screen {
  text-align: center;
  margin: 0;
  font-family: Arial, sans-serif;
}
